.FormFields {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1rem;
}

.FormFields > * {
  border: 1px solid rgb(207, 207, 207);
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}
